body {
    margin: 0;
    padding: 0;
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.hero {
    text-align: center;
    margin-top: 50px;
}

.hero-image {
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px cyan;
}

h1 {
    color: cyan;
    margin-top: 20px;
}

p {
    font-size: 18px;
    width: 70%;
    margin: auto;
    line-height: 1.6;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: cyan;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}